<mat-horizontal-stepper #stepper>
  <mat-step>
  <ng-template matStepLabel>Principal</ng-template>
    <div class="form-container">
      <form [formGroup]="firstFormGroup">
        <mat-form-field>
          <input matInput placeholder="Poliza" formControlName="idPoliza">
       </mat-form-field>



      <mat-form-field>
        <mat-label>Empleado</mat-label>
        <mat-select formControlName="empleadoGenero">
            @for (p of empleado; track $index) {
            <mat-option [value]="p">{{p.nombre}} {{p.apellido}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>inventario</mat-label>
      <mat-select formControlName="inventario">
          @for (p of inventario; track $index) {
          <mat-option [value]="p">{{p.nombre}}</mat-option>
          }
      </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Cantidad"  formControlName="cantidad">
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Escoja una fecha</mat-label>
    <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="fecha"
        (dateChange)="getDate($event)">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  <button mat-raised-button color="primary" type="button" (click)="save()">Guardar Poliza</button>


      </form>

    </div>
  </mat-step>

</mat-horizontal-stepper>
